<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Brands</title>
</head>
<body>
    <h3> Brands: </h3>

    <div class="card" style="width: 18rem;">
        <% branddata.forEach(brand => { %>
            <a href="/alldealsbybrand?b_id=<%= brand.brand_id %>">
                
            <div class="card-body">
                <img class="card-img-top" 
                src="<%= brand.brand_img_path %>" 
                alt="Card image cap"></a>
                <% }); %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>

</body>
<%- include ("footer") %>
</html>