
<%- include ("header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" >
</head>


<body>

    <section class="card_container">
        <div class="card">
            <div class="card_image card_1"></div>
            <h2>Voucher 1</h2>
            <p>
                Text
            </p>
            <a href="">See Deal</a>
        </div>

        <div class="card">
            <div class="card_image card_2"></div>
            <h2>Voucher 2</h2>
            <p>
                Text
            </p>
            <a href="">See Deal</a>
        </div>

        <div class="card">
            <div class="card_image card_3"></div>
            <h2>Voucher 3</h2>
            <p>
                Text
            </p>
            <a href="">See Deal</a>
        </div>

    </section>
    
</body>


<%- include ("footer") %>

</html>