<!DOCTYPE html>
<html>
<head>
    <title>My Favourite Deals dashboard</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
 <header>
    <a href="\logout">logout</a>
 </header>
    <main>
        <h2>Dashboard</h2>
        <p>Logged in as: <%= userdata.role  %> </p>
        <div>
            <blockquote>
              <p>Create a TV show to My Telly</p>
              <a href="/addshow">ADD show</a>
            </blockquote>
        </div>
        <div>
            <blockquote>
              <p>Edit a deal</p>
              <a href="/editdeal">EDIT deal</a>
            </blockquote>
        </div>
        <div>
            <blockquote>
              <p>Delete a deal</p>
              <a href="/deletedeal">DELETE deal</a>
            </blockquote>
        </div>
    </main>
</body>
</html>