<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >

</head>
    <br>Site by me</br>

    <br>Quick Links:</br>
    <p></p>
    <li><a href="/views/home.ejs">home</a></li>
    <li><a href="/views/login.ejs">Login</a></li>
    <li><a href="/views/all_deals.ejs">Deals</a></li>
    <li><a href="/views/all_vouchers.ejs">Vouchers</a></li>
    <li><a href="/views/sign_up.ejs">Sign Up</a></li>
    <li><a href="/views/user.ejs">User</a></li>
    <li><a href="/views/card.ejs">Card</a></li>
    <li><a href="/views/pill_button.ejs">Pill Button</a></li>
    <li><a href="/views/many_deals.ejs">Many Deals</a></li>
    <li><a href="/views/post_deal_voucher.ejs">Post a Deal or Voucher</a></li>
    <li><a href="/views/all_deals_AZ.ejs">All deals A - Z</a></li>
    <li><a href="/views/all_vouchers_AZ.ejs">All vouchers A - Z</a></li>
    <li><a href="/views/all_categories.ejs">Categories</a></li>
    <li><a href="/views/all_brands.ejs">Brands</a></li>


</html>