<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >

</head>
    <br>Site by me</br>

    <br>Quick Links:</br>
    <p></p>
    <li><a href="/views/home.ejs">home</a></li>
    <li><a href="/views/login.ejs">Login</a></li>
    <li><a href="/views/all_deals.ejs">Deals</a></li>
    <li><a href="/views/all_vouchers.ejs">Vouchers</a></li>
    <li><a href="/views/sign_up.ejs">Sign Up</a></li>
    <li><a href="/views/user.ejs">User</a></li>

</html>