<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >

</head>
    <br>Site by me</br>

    <br>Quick Links:</br>
    <p></p>
    <li><a href="/home">home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/alldeals">Deals</a></li>
    <li><a href="/allvouchers">Vouchers</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/user">User</a></li>
    <li><a href="/card">Card</a></li>
    <li><a href="/pillbutton">Pill Button</a></li>
    <li><a href="/manydeals">Many Deals</a></li>
    <li><a href="/postdealvoucher">Post a Deal or Voucher</a></li>
    <li><a href="/alldealsAZ">All deals A - Z</a></li>
    <li><a href="/allvouchersAZ">All vouchers A - Z</a></li>
    <li><a href="/allcategories">Categories</a></li>
    <li><a href="/allbrands">Brands</a></li>
    <li><a href="/dashboard">Dashboard</a></li>


</html>