<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
</head>
    <header>
        <span class="title">Home Page Header</span>
    </header>
    <nav>
        <ul>
            <li><a href="/views/home.ejs">home</a></li>
            <li><a href="#">solutions</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
</html>