<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
</head>
    <header>
        <span class="title">Family Deal Tree (Website header (every pg))</span>
    </header>
    <nav>
        <ul>
            <li><a href="/views/home.ejs">Home</a></li>
            <li><a href="/views/login.ejs">Login</a></li>
            <li><a href="/views/all_deals.ejs">Deals</a></li>
            <li><a href="/views/all_vouchers.ejs">Vouchers</a></li>
            <li><form action="/action_page.php">
            <li><input type="text" placeholder="Search.." name="search"></li>
            <li><button type="submit"><i class="fa fa-search"></i></button></li>
            </form>
        </div>
        </ul>
 

        
    </nav>
</html>