<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
</head>
    <header>
        <span class="title">Family Deal Tree (Website header (every pg))</span>
    </header>
    <nav>
        <ul>
            <li><a href="/views/home.ejs">Home</a></li>
            <li><a href="/views/login.ejs">Login</a></li>
            <li><a href="/views/all_deals.ejs">Deals</a></li>
            <li><a href="/views/all_vouchers.ejs">Vouchers</a></li>
            <form class="form-inline my-2 my-lg-0">
                <input class="search_bar" type="search" placeholder="Search" aria-label="Search">
                <button class="search_button" type="submit">Search</button>
              </form>
              <a href="/views/user.ejs">Profile</a>
        </div>
        </ul>
 
        
    </nav>
</html>