



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" >
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<div class="header">
    <h1>Family Deal Tree</h1>
  </div>
    <nav>
        <div class="navbar"> 
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/alldeals">Deals</a></li>
            <li><a href="/alldealsAZ">Deals A - Z</a></li>
            <li><a href="/allvouchers">Vouchers</a></li>
            <li><a href="/allvouchersAZ">Vouchers A - Z</a></li>
            <li><a href="/allcategories">Categories</a></li>
            <li><a href="/allbrands">Brands</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/dashboard">Dashboard</a></li>

        </ul>
        
        </div>
        
    </nav>
</html>