<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Header above search bar</title>
</head>
<body>
    <div class="container">
    
    <div class="spacer">
        <h2>Welcome to Family Deal Tree</h2>
    </div>

    <div class="content">
        <div class="contenttext"> 
            <p>Writing clean, understandable, and maintainable code is a skill 
                that is crucial for every developer to master.</p>
            <p>In this post, we will look at the most important 
                principles to improve code quality and I will give 
                you code examples for each of them.</p>
                <p>Robert J. Martin's Clean Code. It is a programming 
                classic and I suggest you read the whole text when you have time. </p>

            <div class="contact">
                <p>To view the book you have to sign up ... </p>
                <form>
                    <div>email: <input class="emailinfo" type="email"> </div>

                    <div class="spacer"><input type="submit"></div>
                </form>
            </div>
        </div>
            
        <div class="side">  
            <img src="https://m.media-amazon.com/images/I/41xShlnTZTL.jpg">
        </div>
   

    </div>
 </div>
</body>
 
  <%- include ("footer") %>
</html>