<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Header above search bar</title>
</head>
<body>
    <div class="home_container">
    
    <div class="spacer">
        <h2>Welcome to Family Deal Tree</h2>
    </div>

    <div class="content">
        <div class="contenttext"> 
            <p>Welcome to our website, the ultimate destination for discovering
                 and saving on local deals and vouchers/coupons! Whether you're looking for entertainment,
                  planning a day out, stocking up on groceries, treating yourself to a delicious meal, 
                or in need of indoor/outdoor products, we've got you covered.</p>
            <p>Our platform empowers you to explore a wide range of enticing deals and discounts,
                 all conveniently localized to your area. With our intuitive search and filtering capabilities,
                  you can easily navigate through numerous options and tailor your search based on specific categories,
                 price ranges, locations, and more.</p>
            <p>Discovering exciting deals has never been easier. From thrilling experiences to family-friendly outings,
                 you'll find an extensive selection of entertainment options that cater to all interests. Need to replenish your pantry? 
                 Explore our grocery deals to score fantastic savings on everyday essentials. And when it comes to dining out, 
                 we have an array of mouthwatering offers that will tempt your taste buds.</p>
        </div>
            
        <div class="side">  
            <img src="https://clipart-library.com/img1/1178843.jpg">
        </div>
   

    </div>
 </div>
</body>
 
  <%- include ("footer") %>
</html>