<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTV</title>
    <!-- local css file in public directory -->
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
     <nav>
        <a href="/">Home</a>
     </nav>
      <main>
        <h1> My TV Show from API</h1>
        <p>Welcome to express TV.</p>
        <% showsdata.forEach((tvshow)=> { %>
            <p>
                <%= tvshow.showname %>
                <span>
                    <a href="/show?tvid=<%=tvshow.id%>">details</a>
                </span>
            </p>
        <% }) %>
      </main>
   
</body>
</html>