<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Like Post</title>
</head>
<body>
    <h1>Like Post</h1>
    <p>You liked the post with ID {{ deal_id}} </p>
    <a href="/"> Back to Post</a>
</body>
</html>