<%- include ("header") %>
<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    <link rel="stylesheet">
</head>
<body>
    <main class="container">

    <header>
      <h2> Login </h2>
      <main>
        <div>
            <form action="/" method="POST">
                <p>
                    Email : <input name="emailField">
                </p>
                <p>
                    Password : <input name="passwordField">
                </p>
            
                <input type="submit" value="login">
            </form>
        </div>
    </main>
    </header>
</div>
</body>
</html>

    




       <!-- <form method="post" action="index.html">

          <label for="email_field">Email Address: </label><br>
          <input type="email" id="email_field" name="email_field"><br>
  
          <label for="password_field">Password: </label><br>
          <input type="password" id="password_field" name="password_field"><br>
    
    <ref="/user"><div class="sign_in_btn">Sign In</div></a> <!-- End Btn -->
     Not a member?
    <a href= "/signup"><div id="sign_up_btn">Sign Up</div></a>
    Now!  <!-- End Btn2 -->
  
    </form>
       
</body>
  <%- include ("footer") %>
</html>  -->