<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page Header above search bar</title>
  </head>
  <body>
    
      <form method="post" action="index.html">

          <label for="email_field">Email Address: </label><br>
          <input type="email" id="email_field" name="email_field"><br>
  
          <label for="password_field">Password: </label><br>
          <input type="password" id="password_field" name="password_field"><br>
    
    <a href="user.ejs"><div class="sign_in_btn">Sign In</div></a> <!-- End Btn -->
    <a href= "sign_up.ejs"><div id="sign_up_btn">Sign Up</div></a> <!-- End Btn2 -->
  
    </form>
      
</body>
  <%- include ("footer") %>
</html>