
<%- include ("header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pill Button</title>
    <link rel="stylesheet" href="/styles.css" >

</head>

<body>
    <button class="pill_button" type="button">Pill Button</button>
    <button class="pill_button pill_button--selected" type="button">Pill Button Selected</button>




</body>

<%- include ("footer") %>

</html>