<%- include ("header") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post A Deal or Voucher</title>
</head>
<body>
    <main class="container">
        <h1> Post a Deal or Voucher </h1>
         
                    <form action="/insertoffer" method="post"> 
                        <input name="title_field" required type="text" placeholder="Title">
                        <input name="post_desc_field" required type="text" placeholder="Description">
                       <input name="post_voucher_code_field" required type="text" placeholder="Voucher Code">
                       <input name="post_start_date_field" required type="date" placeholder="Start Date">
                       <input name="post_end_date_field" required type="date" placeholder="End Date">
                       <input name="post_location_field" required type="text" placeholder="Online or Offline">
                       <input name="post_redemtion_instructions_field" required type="text" placeholder="Redemtion Instructions">
                       <input name="post_web_link_field" required type="text" placeholder="Link to Website">
                       <input name="post_image_field" required type="text" placeholder="Image">
                       <input name="terms_conditions_field" required type="text" placeholder="Link to Terms & Conditions">
                       <input name="post_num_likes_field" required type="number" placeholder="Number of Likes">
                       <input name="post_num_ratings_field" required type="number" placeholder="Number of Ratings">
                       <input name="post_user_field" required type="text" placeholder="Posted by:">
                       <input name="post_brand_field" required type="text" placeholder="Brand">
                       <input name="post_discount_field" required type="text" placeholder="Discount">
                       <input name="post_location_field" required type="text" placeholder="Location">
                       <button>Submit</button> <!-- End submit button -->
                    </form>
    </main>   
    
<h3> Taken from Dashboard:</h3>
<body>
    <header>
       <a href="\logout">logout</a>
    </header>
       <main>
           <h2>Dashboard</h2>
           <p>Logged in as: <%= userdata.role  %> </p>
           <div>
               <blockquote>
                 <p>Create a TV show to My Telly</p>
                 <a href="/addshow">ADD show</a>
               </blockquote>
           </div>
           <div>
               <blockquote>
                 <p>Edit a deal</p>
                 <a href="/editdeal">EDIT deal</a>
               </blockquote>
           </div>
           <div>
               <blockquote>
                 <p>Delete a deal</p>
                 <a href="/deletedeal">DELETE deal</a>
               </blockquote>
           </div>
       </main>
   </body>

</body>

<%- include ("footer") %>


</html>