<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page Header above search bar</title>
</head>
<body>
    <main class="container">
        <h1> Sign Up </h1>
   
        
            <!-- familydata.forEach( (user) => {

             });
         -->

        
                    <form action="/insert_user" method="post"> 
                        <input name="email_field" required type="email" placeholder="Email Address">
                        <input name="password_field" required type="password" placeholder="Create a Password">
                       <input name="first_name_field" required type="text" placeholder="First Name">
                       <input name="last_name_field" required type="text" placeholder="Last Name">
                       Date of Birth: <input name="dob_field" required type="date" placeholder="Date Of Birth">
                       <input name="gender_field" required type="text" placeholder="Gender">
                    <select name="county_field" required>
                            <option value="" selected>Select a County... </option>
                            <option value="6">Down</option>
                            <option value="7">Antrim</option>
                            <option value="8">Tyrone</option>
                            <option value="9">Fermanagh</option>
                            <option value="10">Derry / Londonderry</option>
                            <option value="11">Armagh</option>
                        </select>
                        <a href= "user.ejs"><button type="button">Submit</button> <!-- End submit button -->
                    </form>
    
    </div>
    
    <br>
    Already a member? <u style="color:#218B82;"><a href="/views/login.ejs">Login Here!</a></u>
    </br>

</body>
  <%- include ("footer") %>
</html>

