
/************************ 
  Home page
  **************************/

  body{
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  header{
    background-color: #218b82;
    padding: 10px;
  }
  
  .title{
    font-size: 2em;
    color: aliceblue;
  }
  .home_container{
    display: flex;
    width: 90%;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-top: 5px;
  }
  
  .content{
    overflow:auto;
  }
  
  .side{
    width: 30%;
    float:left;
  }
  .side img{
    width:90%;
  }
  
  .contenttext{
    width:65%;
    float:left;
    padding:20px;
  }
  
  footer{
    width: 100%;
  }
  
  nav{
    background-color: #98d4bb;
  
  }
  
  nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #98d4bb;
  }
  
  nav li{
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #218b82;
  }

.topnav a.active {
  background-color: #98d4bb;
  color: #218b82;
}

.search_bar {
  float:left;
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  border-radius: 15px;
  border-color:white;
  border-left: white;
  border-top: white;
  text-align: center;
  margin: 10px;
  border: #218b82 1px solid;

}

.search_button {
  float:left;
  background:#eb96aa;
  width:100px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  border: #b4687a 1px solid;
}
  
  .contact{
    width: 95%;
    border: thick solid gray;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 15px;
  }
  
  .emailinfo{
    width: 80%;
  }
  
  .spacer{
    padding-top: 10px;
  }
  
  @media screen and (max-width:1000px){
    .container{
        width: 95%;
       
    }
  }
  
  @media screen and (max-width:841px){
    .contact{
        border: thin solid black;
        padding: 20px 10px 20px 20px;
    }
    .side{
        width: 100%;
        height: auto;
        max-width: 400px;
    }
    .contenttext{
        width:90%;
        float: none;
    }
  
    nav li a {
        padding: 16px 26px;
        font-size: 16pt;
      }
  
  }
  
  /*This is the lines between the buttons in the navigation*/
  @media screen and (max-width:600px){
    nav li{
        float:none;
        border-bottom: none;
    }
    header{
        padding: 20px;
    }
  
  }








/************************ 
  login page
  **************************/
  p{
    font-size:12px;
    text-decoration: none;
    color:black;
  }
  
  h1{
    font-size:20px;
    text-align: left;
    color:black;
  }
  
  .box{
    background:#98d4bb;
    width:300px;
    border-radius: 15px;
    padding:0px 10px 70px 20px;
    margin: 20px ;
  }
  
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 20px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius: 15px;
  }
  
  .password{
    border-radius: 15px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .sign_in_btn{
    background:#eb96aa;
    width:100px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    text-align: center;
    border-radius: 15px;
    border: #b4687a 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 20px;
    float:left;
    font-size:16px;
    font: size 16em;
  }
  
  .sign_in_btn:hover{
    background:#b4687a; 
  }
  
  #sign_up_btn{
    float:left;
    background:#9ad9db;
    width:100px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius: 15px;
    text-align: center;
    border: #59a7aa 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:16px;
  }
  
  #sign_up_btn:hover{ 
  background:#59a7aa; 
  }

/************************ 
  All Deals page
  **************************/
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }


/************************ 
  Sign Up page
  **************************/

.sign_up_container_content{ 
  background-color: #e5dbd9;
  width:500px;
  height:500px;
  border-radius: 15px;
 
  

}
img{
  width: 100%;
  height: 25%;
  border-radius: 15px;

}
.form-title{
  padding:10px;

}
form{
  padding:10px;

}

/*This is for email and username*/
input[type=text], [type=email]{
  border: none;
  border-bottom: 1px solid #28666e;
  outline:none;
  width:100%;
  margin: 8px 0;
  padding:10px;
  border-radius: 15px;
}
input[type=number]{
  border: none;
  border-bottom: 1px solid #28666e;
  outline:none;
  margin: 8px 0;
  padding: 10px;
  border-radius: 15px;

}

input[type=password]{
  border: none;
  border-bottom: 1px solid #28666e;
  outline:none;
  margin: 8px 0;
  padding: 10px;
  border-radius: 15px;
}

input[type=date]{
  border: none;
  border-bottom: 1px solid #28666e;
  outline:none;
  margin: 8px 0;
  padding: 10px;
  border-radius: 15px;
}

input :hover {
  background-color: red;
}

/*This is for gender and nationality*/
select{
  border: none;
  border-bottom: 1px solid #28666e;
  outline:none;
  margin: 8px 0;
  padding: 10px;
  width:50%;
  border-radius: 15px;

}
.beside{
  display:flex;  
  justify-content: space-between;

}

/*Submit Button*/
button{
  color:#ffffff;
  background-color: #eb96aa;
  height:40px;
  width:25%;
  margin-top:15px;
  cursor: pointer;
  border:none;
  border-radius:2%;
  outline:none;
  text-align:center;
  font-size:16px;
  text-decoration:none;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  border: #b4687a 1px solid;
  border-radius: 15px;

  
}
button:hover{
    background:#b4687a; 
  }

/************************ 
  Pill Button page
  **************************/  

  .pill_button {
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin-right: auto;
    border-radius: 15px;
    border: none;
    outline: none;
    text-align: center;
    display: auto;
    background: #eb96aa;
    cursor: pointer;
  }

  .pill_button:not(.pill_button--selected):hover {
    background: #b4687a;
  }

  .pill_button--selected {
    background: #eb96aa;
    color: white;
  }

  /************************ 
  User Profile page
  **************************/  

  .profile_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  }

  .wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  }

  .wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .wrapper .left h3{
    margin-bottom: 10px;
  }

  .wrapper .left p{
    font-size: 12px;
  }


  .wrapper .right {
    width: 65%;
    background: cyan;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
  }

  .wrapper .right .info,
  .wrapper .right .projects {
    margin-bottom: 25px;
  }
  
  .wrapper .right .info h2,
  .wrapper .right .projects h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .wrapper .right .info,
  .wrapper .right .projects {
    display: flex;
    justify-content: ;
  }

  .wrapper .right .data {

  }

  .wrapper .right .projects {

  }

  .wrapper .right .projects_data {

  }

